@charset "ISO-8859-1";

body{
	padding: 0;
	margin: 0 auto;
	font-family: helvetica, courier, arial, sans-serif;
	font-size: 18px;
	background: #3e92cc;
}

.corpo{
	width: 75%;
	height: auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0 auto;
}

.descricao{
	background: #d8315b;
}

.descricao header h1{
	text-align: center;
	color: #ffffff;
}

.form{
	padding: 20px;
	font-size: 1.5em;
}

.radio-circle{
	width: 24px;
	height: 24px;
	margin: 0 15px;
}

.campo-input{
	font-size: 1.2em;
}

.botao{
	font-size: 1.2em;
	color: #fff;
	padding: 5px 18px;
	background: #d8315b;
}

.calculadora{
	background: #fffaff;
}